:root{
    --pastel-white:#f5f5ef;
    --dark-green:#404a26;
    --creamy-green:#e6e0d0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

body{
    background-color: #0f0f0f;
    color: white;
    max-width: 2500px;
    height: 1600px;
    padding-top: 75px;
}

p{
    font-family: "Inclusive Sans", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 590;
    font-style: normal;
    font-size: 75px;
    margin-top: 50px;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    margin-right: 90px;
}

.home-image{
    width: 500px;
    border-radius: 3px;
    border: 1px solid black;
}

